Django==2.0.4
djangorestframework==3.8.2

# linting
isort==4.3.4
pylint==1.8.3
coverage==4.5.1

# db
psycopg2-binary==2.7.4

# testing
model-mommy==1.5.1

# ipython notebook with django
ipython[notebook]
django-extensions==2.0.6

# data exploration
pandas==0.22.0