<div class="min-rating-select">
  {{#power-select
    allowClear=true
    options=rating_options
    placeholder="Select a minimum rating"
    selected=minRating
    searchField="name"
    onchange=(action 'minRatingSelected')
    as |minRating|
  }}
    {{minRating.value}}
  {{/power-select}}
</div>

{{#light-table table
  height='65vh'
  responsive=true
  as |t|
}}

   {{t.head
    onColumnClick=(action 'onColumnClick')
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body as |body|}}

    {{#body.expanded-row as |row|}}
      {{responsive-expanded-row table=table row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No results
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

  {{t.foot}}

{{/light-table}}